{% extends "base.html" %}
{% block content %}
    <h2>Add User</h2>
    <form action="" method="POST">
      Type: <select name="type"><option value="student">Student</option></select><br/>
      Username: <input type="text" name="username"/><br/>
      Password: <input type="text" name="password"/><br/>
      <input type="hidden" name="action" value="adduser"/>
      <input type="submit" name="submit"/>
    </form>

    <h2>Add Problem (Java w/ runner)</h2>
    <form action="" enctype="multipart/form-data" method="post">
      Java runner file: <input type="file" name="upl_file"/><br/>
      Match file (optional): <input type="file" name="upl_match_file"/><br/>
      Problem name: <input type="text" name="name"/><br/>
      <input type="hidden" name="action" value="addproblem"/>
      <input type="hidden" name="problem_type" value="java_runner"/>
      <input type="submit" value="submit">
    </form>

    <a href="/results"><h2>Submissions</h2></a>

    <a href="/cheating"><h2>Stanford Moss Plagiarism Checker</h2></a>
{% endblock %}
