{% extends "base.html" %}
{% block content %}

{% if action == "adduser" %}
You have successfully added the user {{ username }}!<br/>
{% endif %}

{% if action == "addproblem" %}
You have successfully added the problem {{ problem_name }}!<br/>
{% endif %}

{% if action == "error" %}
There was an error: {{ error }}<br/>
{% endif %}

{% if action == "importusers" %}
You have imported some users!<br/>
<table>
<tr><td>Username</td><td>Password</td></tr>
{% for user in users %}
<tr><td>{{user.username}}</td><td>{{user.password}}</td></tr>
{% endfor %}
</table>
{% endif %}

[<a href="/admin">Back</a>]<br/>

{% endblock %}
