{% extends "base.html" %}
{% block content %}
{% if success %}
Everything ran! Here's the output:<br/>
{% else %}
There was an error compiling or running the program:<br/>
{% endif %}
{{ program_output }}<br/>
{% if need_match %}
{% if matched %}
Your program gave the correct output!<br/>
{% else %}
Your program didn't quite give the right output. Here's what I expect:<br/>
{{ match }}<br/>
{% endif %}
{% endif %}
{% if result.runtime is defined %}
Runtime was {{ result.runtime }}<br/>
{% endif %}
<a href="/">Try again</a>
{% endblock %}
